.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  animation: zoomIn 0.5s ease-in-out,
    dropShadow 1s ease-in-out infinite alternate;
  max-width: 90%;
  width: 300px;
}

.popup-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 5px solid #ff6699;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-message {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  background: linear-gradient(to right, #ff99cc, #ff6699);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

/* Make Popup fully responsive */
@media (max-width: 480px) {
  .popup {
    width: 90%;
    padding: 15px;
  }

  .popup-img {
    width: 100px;
    height: 100px;
  }

  .popup-message {
    font-size: 1.2rem;
  }
}

@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dropShadow {
  from {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  to {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  }
}
